body {
  background-color: #f8f9fa;
}
.alert {
  position: absolute;
  top: 3.7rem;
  right: 2rem;
  height: 2rem;
  padding: 0 1rem;
}
.btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  max-width: 100%;
}
